.span
  %h1
    - if @court == 1
      1<sup>st</sup>
    - elsif @court == 1
      2<sup>nd</sup>
    - elsif @court == 1
      3<sup>rd</sup>
    - elsif @court == 1
      3<sup>rd</sup>
    - else @court == 1
      = "#{@court}<sup>th</sup>"
    Court of Appeals
  %ul
    - @opinions.each do |o|
      %li
        = succeed ',' do
          = o.case.style
        = o.number
        = surround '(', ')' do
          = o.date.strftime('%h %d, %Y')
